<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      lang="es">
<head>
    <meta charset="UTF-8">
    <title> Factura del Pastel</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-qKXV1j0HvMUeCBQ+QVp7JcfGl760yU08IQ+GpUo5hlbpg51QRiuqHAJz8+BrxE/N"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
            integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/js/bootstrap.min.js"
            integrity="sha384-heAjqF+bCxXpCWLa6Zhcp4fu20XoNIA98ecBC1YkdXhszjoejr5y9Q77hIrv8R9i"
            crossorigin="anonymous"></script>
</head>
<body>

<style>
    .card-img-top {
        object-fit: cover; /* para ajustar la imagen dentro del contenedor */
        max-height: 200px; /* altura máxima de la imagen */
    }

    .my-5 {
        margin-top: 5rem;
    }

    .navbar-nav li a:hover {
        color: #fff;
        background-color: #6c757d;
    }
    #foto{

        opacity: 0.5;
        background-color: rgba(0, 0, 0, 0);
        float: right;
        margin-right: 20px;
        margin-top: 60px; /* ajusta este valor */
        position: absolute;
        top: 0;
        right: 0;
        width: 200px;
        height: auto;
    }
    .total-price {
        font-size: 20px;
        font-weight: bold;
        color: #333;
    }


</style>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark" th:fragment="nav">
    <div class="container">

        <a class="navbar-brand" href="#" th:href="@{/catalogo}">Catálogo de Pasteles</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <li sec:authorize="hasRole('ROLE_ADMIN')" class="nav-item">
                    <a class="nav-link active" aria-current="page" th:href="@{/}">Registro de inicio</a>
                </li>
                <li sec:authorize="hasRole('ROLE_ADMIN')" class="nav-item">
                    <a class="nav-link active" aria-current="page" th:href="@{/home}">Productos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/logout}">Cerrar sesión</a>
                </li>
            </ul>
        </div>
    </div>
</nav>


<!-- Page Content -->
<div class="container">
    <!-- Page Heading/Breadcrumbs -->
    <div class="invoice-title text-center" style="padding: 20px; background-color: #eee; border-radius: 5px;">
        <h2 style="margin: 0;">Factura de Compra</h2>
    </div>


    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a th:href="@{/catalogo}">Home</a></li>
        <li class="breadcrumb-item active">Carrito</li>
    </ol>

    <div>

        <div class="card mb-4">

            <div class="card-body">

                <ul class="list-group" style="margin-bottom: 10px;">
                    <div class="row">
                        <div class="col-xs-6">
                            <address>
                                <strong>Comprado por:</strong><br>
                                <span th:text="${compra.usuario.nombre + ' ' + compra.usuario.apellido}"></span><br>
                                <span th:text="${compra.usuario.email}"></span><br>
                            </address>
                        </div>
                        <div class="col-xs-6 text-right">
                            <address>
                                <strong>Fecha de compra:</strong><br>
                                <span th:text="${#dates.format(compra.fechaCompra,'dd/MMM/yyyy HH:mm')}"></span><br>
                                <br>
                            </address>
                        </div>
                        <div class="card" id="foto" style="width: 40rem; height: auto;">
                            <img class="card-img-top" th:src="${productos.photosImagePath}" alt="No Pic" style="height: 100%; object-fit: contain; vertical-align: top;">
                        </div>


                    </div>

                    <div class="row" id="form1">
                        <div class="col-md-offset-4 col-md-4">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h3 class="panel-title"><strong>Pastel Comprado</strong></h3>
                                </div>
                                <div class="panel-body invoice-body">
                                    <div class="table-responsive">
                                        <table class="table table-condensed">
                                            <thead>
                                            <tr>
                                                <td><strong>Pastel</strong></td>
                                                <td class="text-right"><strong>Precio</strong></td>
                                                <td class="text-right"><strong>Cantidad</strong></td>
                                                <td class="text-right"><strong>Total</strong></td>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr th:each="producto : ${productos}">
                                                <td>
                                                    <span th:text="${productos.nombre}">Pastel</span>

                                                </td>
                                                <td class="text-right">
                                                    <span th:text="${#numbers.formatCurrency(productos.precio)}"></span>
                                                </td>
                                                <td class="text-right">
                                                    <span th:text="${compra.cantidad}"></span>
                                                </td>

                                            </tr>
                                            <tr>
                                                <td colspan="3" class="text-right thick-line"><strong>Total Compra</strong></td>
                                                <td class="text-right thick-line">
                                                    <span th:text="${#numbers.formatCurrency(total_compra)}" class="total-price"></span>
                                                </td>
                                            </tr>

                                            </tbody>
                                        </table>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                </ul>
                <div style="text-align: center; margin-top: -50px;">
                    <h2 style="color: green;">¡Compra exitosa!</h2>
                    <br/>
                    <a class="btn btn-primary btn-lg" href="/catalogo">Volver al catálogo</a>
                </div>

            </div>
        </div>
    </div>

    <style>
        .card {
            border: 1px solid #ccc;
            border-radius: 5px;
            box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
            margin-bottom: 30px;
        }

        .card-body {
            padding: 30px;
        }

        .card-title {
            font-size: 28px;
            margin-bottom: 20px;
        }

        .list-group {
            margin-bottom: 20px;
        }

        .list-group-item {
            border: none;
            padding: 0;
        }

        .list-group-item h5 {
            margin-bottom: 0;
        }
    </style>


</div>


</body>
</html>